<div class="search-results mt-10 ml-20 ">
  <% if @flights.empty? %>
    <p>No flights for this conditions.</p>
  <% else %>
    <h2 class="font-bold text-2xl mb-5">Available flights:</h3>
    <%= form_with url: new_booking_path, class: 'flex gap-5 flex-col', method: :get, data: {turbo: false} do |flight_form| %>
      <% @flights.each do |flight| %>
        <div class="chechbox-container">
          <%= flight_form.radio_button :flight, "#{flight.id}", {required: 'required'} %>
          <%= flight_form.label :flight, 
          "Departure: #{flight.departure.code} | Arrival: #{flight.arrival.code} | Datetime: #{flight.date}"%>
        </div>
      <% end %>
      <%= flight_form.hidden_field :passengers, value: params[:passengers] %>
      <div class="radio-button"><%= flight_form.submit "Continue", class: 'rounded bg-violet-500 text-white px-5 py-1 cursor-pointer'  %></div>
    <% end %>
  <% end %>
</div>