<h1>Flights</h1>

<%= form_with url: "/flights", method: :get do |form| %>


  <%= form.label :departure, "Departure: "  %>
  <%= form.select :departure, @airport_options, :required => 'required' %>

  <%= form.label :arrival, "Arrival: "  %>
  <%= form.select :arrival, @airport_options, :required => 'required' %>

  <%= form.label :passengers, "Passengers: "  %>
  <%= form.select :passengers, [1,2,3,4], :required => 'required' %>

  <%= form.label :date, "Date: (Optional)"  %>
  <%= form.date_field :date %>

  <%= form.submit "Search" %>
<% end %>


<% if params[:arrival] && params[:departure] %>

  <% if params[:date].present? %>
    <% flights = Flight.where(arrival_id: params[:arrival], departure_id: params[:departure], date: params[:date].to_date.all_day)%>
  <% else %>
    <% flights = Flight.where(arrival_id: params[:arrival], departure_id: params[:departure])%>
  <% end %>

  <% if flights.empty? %>
    <p>No flights for this conditions.</p>
  <% else %>
    <h3>Available flights</h3>
    <%= form_with url: "/flights", method: :get do |flight_form| %>
      <% flights.each do |flight| %>
        <%= flight_form.radio_button :flight, "#{flight.id}", :required => 'required' %>
        <%= flight_form.label :flight, 
        "Departure: #{flight.departure.code} | Arrival: #{flight.arrival.code} | Datetime: #{flight.date}"%>
      <% end %>
      <%= flight_form.hidden_field :passengers, value: params[:passengers] %>
      <div class="radio-button"><%= flight_form.submit "Continue" %></div>
    <% end %>
  <% end %>
    
<% end %>
