<h1 class="mt-10 ml-20 font-bold text-4xl">Flights</h1>

<%= form_with url: '/flights', class: 'flex gap-5 mt-10 ml-20', method: :get, data: {turbo_frame: 'flight_search'} do |form| %>
  <div class="input-container">
    <%= form.label :departure, "Departure: "  %>
    <%= form.select :departure, @airport_options, {}, { class: 'bg-gray-100', required: true } %>
  </div>
  <div class="input-container">
    <%= form.label :arrival, "Arrival: "  %>
    <%= form.select :arrival, @airport_options, {}, { class: 'bg-gray-100', required: true } %>
  </div>
  <div class="input-container">
    <%= form.label :passengers, "Passengers: "  %>
    <%= form.select :passengers, [1,2,3,4], {}, { class: 'bg-gray-100', required: true }%>
  </div>
  <div class="input-container">
    <%= form.label :date, "Date: (Optional)"  %>
    <%= form.date_field :date, class: 'bg-gray-100'%>
  </div>
  <%= form.submit "Search", class: 'rounded bg-violet-500 text-white px-5 py-1 cursor-pointer'%>
<% end %>

<% if @flights != nil %>
  <%= turbo_frame_tag "flight_search" do %>
    <%= render 'flights', flights: @flights %>
  <% end %>
<% end %>